# 12 MHz clock
set_io clk        D1

# RS232
set_io ser_rx      A3
set_io ser_tx      B3

# SPI Flash
set_io flash_clk  E5
set_io flash_csb  D5
set_io flash_io0  E4
set_io flash_io1  F5


# LEDs (PMOD 2)
set_io led1       B1
set_io led2       A1
set_io led3       E1
set_io led4       C2


# Onboard LEDs
set_io ledr_n     B6


set_io RESET    C5







